.fit {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.object-contain {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.fit-height {
    object-fit: cover;
    height: 100%;
}

.container-layout {
    min-height: 20rem;
}

.container-image-profile {
    height: 10rem;
    width: 10rem;
}

.pointer {
    cursor: pointer;
}

*:focus {
    outline: none;
}